<section class="container">
    <h1 class="page-title">Dodaj grupu</h1>
    <div class="create-form-wrapper">
        <div class="create-form-container">
            <div class="form-control">
                <label class="form-label form-label-required">Naziv</label>
                <input class="form-input" ng-model="group.name" />
            </div>
        </div>

        <div class="create-form-container create-form-container-larger">
            <div class="form-control">
                <label class="form-label form-label-required">Članovi grupe</label>
                <select class="form-input" ng-model="group.participants">
                    <option>Josip Dujić</option>
                    <option>Ivan Medić</option>
                    <option>Diana Šperanda</option>
                </select>
            </div>            
        </div>
    </div>
    <button style="margin-top:20px" class="btn btn-primary" ng-click="save()">Spremi</button>
    <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Odustani</button>
</section>