<section class="container">
    <h1 class="page-title">Dodaj grupu</h1>
    <div class="create-form-wrapper">
        <div class="create-form-container">
            <div class="form-control">
                <label class="form-label form-label-required">Naziv</label>
                <input class="form-input" ng-model="group.name" />
            </div>
        </div>

        <div class="create-form-container create-form-container-larger">
            <div class="form-control">
                <label class="form-label form-label-required">Članovi grupe</label>
                <div class="checklist-container" ng-model="user.course">
                    <div class="checkbox-container" ng-repeat="u in users">
                        <input id="{{u._id}}" type="checkbox" ng-model="hohh[p._id]" ng-change="checkUser(u._id)"/>
                        <label for="{{u._id}}">{{u.name}}</label>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <button style="margin-top:20px" class="btn btn-primary" ng-click="save()">Spremi</button>
    <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Odustani</button>
</section>