.nav-container {
    flex: 1;
}

.nav {
    @include reset-list;
    display: flex;
    flex-direction: row;
}

.nav-item {
    display: block;

    &.nav-item--right {
        margin-left: auto;
    }
}

.nav-link {
    @include reset-link;
    display: block;
    padding: 25px 10px 22px;
    margin: 0 10px;
    color: $gray;
    font-weight: $font-bold;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid transparent;

    &:hover {
        color: $primary-color;
    }

    &.active {
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
    }
}

.nav-button {
    @include reset-button;
    @extend .nav-link;
    cursor: pointer;
    padding: 25px 10px 22px;
    color: $danger-color;

    &:hover {
        color: $danger-color;
    }

    &:focus {
        outline: none;
    }
}