/* Empty. Add your own CSS if you like */
.platform-android .bar .title {
    height: 60px;
    line-height: 60px;
    color: white;
}

.nav-bar-block .bar,
.nav-bar-tabs-top .bar {
    height: 60px;
    background: #0478af;
}

.tabs-top > .tabs, .tabs.tabs-top {
    top: 65px;
}

.ionic-scroll {
    top: 130px;
}

.ionic-scroll.no-tabs {
    top: 75px;
}

.ionic-scroll.no-tabs .scroll {
    padding: 0 20px;
}

.organize-action-button {
    margin: 0;
    padding: 0;
    box-shadow: 0;
    border: 0;
    background-color: white;
    display: block;
    padding: 15px;
    width: 100%;
    color: #424242;
    font-size: 16px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 0 8px #3693bf;
    transition: box-shadow 0.2s ease-in-out;
}

.organize-action-button:hover,
.organize-action-button:focus {
    box-shadow: 0 0 0 12px #0478af;
}

.dashboard-container {
    display: block;
    position: relative;
    height: 100%;
}

.action-button-container {
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 100%;
    background: #212121;
    // border-radius: 20px 20px 0 0;
}

.action-button-container:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 70px;
    bottom: 20px;
    border-radius: 50%;
    background: #212121;
}

h1.action-title {
    display: block;
    background: #212121;
    color: white;
    font-size: 22px;
    padding: 30px 20px;
    font-weight: 300;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 20px;
    right: 20px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.dashboard {
    height: calc(100vh - 98px);
    overflow: hidden;
    top: 110px;
}

.dashboard .angular-google-map-container { 
    height: calc(100vh - 98px); 
}


.user-details {
    padding: 0 15px;
}

.user-name {
    font-size: 25px;
    padding-top: 40px;
    margin-left: 20px;
    float: left;
    font-weight: 600;
}

.user-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    float: left;
}

.clearfix:after,
.user-row:after {
    content: '';
    display: table;
    clear: both;
}
.user-row {
    width: 100%;
    margin-top: 15px;
    font-size: 20px;
    border-bottom: 1px solid #d3d3d1;
    padding-bottom: 18px;
    padding-left: 5px;
}

.user-row-title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 3px;
}

.bar-stable .button.button-clear {
    color: white;
    margin-top: 5px;
}

.user-contact {
    display: block;
    margin-top: 10px;
    padding: 25px;
    font-size: 22px;
    font-weight: bold;
    border-top: 1px solid #d3d3d1;
    border-bottom: 1px solid #d3d3d1;
}

.user-contact .icon {
    margin-right: 20px;
}

.user-subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    color: #0478af;
}

.item-toggle {
    padding: 15px 30px 20px;
}

.profile-switch {
    width: 250px;
    whitespace: normal;
    font-size: 18px;
    font-weight: 600;
}

.profile-switch div {
    margin-bottom: 5px;
}

.profile-switch small {
    display: block;
    white-space: normal;
    width: 220px;
    font-weight: 300;
}

.toggle-small.item-toggle .toggle {
    top: 50px;
}

.form-control {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-label-required:after {
    content: "*";
    color: #D32F2F;
    display: inline-block;
    margin-left: 5px;
}

select.form-input,
input.form-input {
    display: block;
    width: 100%;
    height: 45px;
    line-height: 38px;
    border-radius: 4px;
    border: 1px solid #BDBDBD;
    padding: 0 15px;
    background: white;
    line-height: 45px;
}

input::-webkit-date-and-time-value {
    line-height: 28px;
}

.btn-link-white {
    background-color: transparent;
    color: #0478af;
    border-color: transparent;
}

.btn-organize {
    display: block;
    width: 100%;
    color: #fff;
    background-color: #0478af;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: 0;
    border: 1px solid #0478af;
    padding: 8px 12px;
    border-radius: 4px;
}

.form-textarea {
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #bdbdbd;
}

.logout-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.logout-button button {
    box-shadow: none;
    border: 0;
    background: #F44336;
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
}

.user-img.green,
.item-content img.green{
    border: 3px solid lightgreen;
}

.user-img.red,
.item-content img.red{
    border: 3px solid red;
}
<<<<<<< HEAD
.action-button {
    position: relative;
    margin-top: 10px;
}
.action-button button{ margin-left: -8px; }

.logout-button.disabled button{
    background-color: white;
    border: 1px solid gray;
    color: gray;
}
.hohh a { float: right; }

.userStatus{
    height: 5px;
    width: 5px;
    border-radius: 5px;
    background-color: red;
}

.item-remove-animate {
    transition: none !important;
}

.login {
    top: 60px;
}

.login-page {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 60px);
}

.login-container {
    background: #0478af;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 380px;
    padding: 60px 40px;
}

.login-logo {
    width: 150px;
    height: 150px;
    display: block;
    margin-bottom: 40px;
}

.form-container {
    width: 100%;
}

.login-page .form-label {
    color: #fff;
    font-weight: 300;
}

.login-btn {
    box-shadow: 0;
    border: 1px solid #fff;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    display: block;
    padding: 10px 25px;
    margin: 15px 30px;
}