/* Empty. Add your own CSS if you like */
.platform-android .bar .title {
    height: 60px;
    line-height: 60px;
    color: white;
}

.nav-bar-tabs-top .bar {
    height: 60px;
    background: #0478af;
}

.tabs-top > .tabs, .tabs.tabs-top {
    top: 65px;
}

.ionic-scroll {
    top: 130px;
}

.organize-action-button {
    margin: 0;
    padding: 0;
    box-shadow: 0;
    border: 0;
    background-color: white;
    display: block;
    padding: 15px;
    width: 100%;
    color: #424242;
    font-size: 16px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 0 8px #3693bf;
}

.dashboard-container {
    display: block;
    position: relative;
    height: 100%;
}

.action-button-container {
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 100%;
    background: #212121;
    // border-radius: 20px 20px 0 0;
}

.action-button-container:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 70px;
    bottom: 20px;
    border-radius: 50%;
    background: #212121;
}

h1.action-title {
    display: block;
    background: #E0E0E0;
    font-size: 22px;
    padding: 30px 20px;
    font-weight: 300;
}

.dashboard {
    height: calc(100vh - 130px);
    overflow: hidden;
    padding-top: 30px;
}

.user-details {
    padding: 0 15px;
}

.user-name {
    font-size: 25px;
    padding-top: 40px;
    margin-left: 20px;
    float: left;
    font-weight: 600;
}

.user-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    float: left;
}

.clearfix:after,
.user-row:after {
    content: '';
    display: table;
    clear: both;
}
.user-row {
    width: 100%;
    margin-top: 15px;
    font-size: 20px;
    border-bottom: 1px solid #d3d3d1;
    padding-bottom: 18px;
    padding-left: 5px;
}

.user-row-title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 3px;
}

.bar-stable .button.button-clear {
    color: white;
    margin-top: 5px;
}

.user-contact {
    display: block;
    margin-top: 10px;
    padding: 25px;
    font-size: 22px;
    font-weight: bold;
    border-top: 1px solid #d3d3d1;
    border-bottom: 1px solid #d3d3d1;
}

.user-contact .icon {
    margin-right: 20px;
}

.user-subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    color: #0478af;
}

.item-toggle {
    padding: 15px 30px 20px;
}

.profile-switch {
    width: 250px;
    whitespace: normal;
    font-size: 18px;
    font-weight: 600;
}

.profile-switch div {
    margin-bottom: 5px;
}

.profile-switch small {
    display: block;
    white-space: normal;
    width: 220px;
    font-weight: 300;
}

.toggle-small.item-toggle .toggle {
    top: 50px;
}