<header class="header">
    <div class="logo-container">
        <img src="content/images/logo.svg" class="logo">
    </div>
    <nav class="nav-container">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link active" href="#/index">Akcije</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Članovi</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Grupe</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Oprema</a></li>
            <li class="nav-item"><button ng-click="logout()">Odjavi se</button></li>
        </ul>
    </nav>
</header>

<div ui-view></div>