<section class="container">
    <h1 class="page-title">HGSS članovi</h1>
    <div class="toolbar">
        <div class="toolbar-section">
            <button class="toolbar-btn" ng-click="addNewUser()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="toolbar-section toolbar-seciton-search">
            <input class="toolbar-input" type="text" ng-model="searchQuery" />
        </div>
        <div class="toolbar-section">
            <button class="toolbar-btn" ng-click="setCardView(true)">
                <i class="fa fa-th-large"></i>
            </button>
            <button class="toolbar-btn" ng-click="setCardView(false)">
                <i class="fa fa-th-list"></i>
            </button>
        </div>
    </div>

    <ul class="data-list" ng-class="{'data-list--cards': isCardView}">
        <li class="data-list-item data-list-item--legend">
            <div class="data-list-item-content">
                Ime i prezime
            </div>
            <div class="data-list-item-content">
                Stanica
            </div>
            <div class="data-list-item-content">
                Lokacija
            </div>
            <div class="data-list-item-content">
                Posao
            </div>
            <div class="data-list-item-content">
                Grupe
            </div>
        </li>
        <li class="data-list-item" ng-repeat="user in users | filter: searchQuery">
            <div class="data-list-item-content data-list-item-content--img">
                <img  class="data-list-img" src="content/images/user.png" alt="Slika spasioca" />
            </div>
            <div class="data-list-item-content">
                <a ui-sref="app.details-user({id: user._id})" class="data-list-link">{{user.name}}</a>
            </div>
            <div class="data-list-item-content">
                {{user.station}}
            </div>
            <div class="data-list-item-content">
                {{user.location}}
            </div>
            <div class="data-list-item-content">
                {{user.job}}
            </div>
            <div class="data-list-item-content">
                <span ng-repeat="group in user.groups">{{group}} </span>
            </div>
        </li>
    </ul>
</section>