<section class="container">
    <h1 class="page-title">Uredi korisnika</h1>
    <div class="create-form-wrapper">
        <div class="create-form-container">
            <div class="form-control">
                <label class="form-label form-label-required">Ime</label>
                <input class="form-input" ng-model="value.name" />
            </div>
        </div>
    </div>
    <button style="margin-top:20px" class="btn btn-primary" ng-click="save()">Spremi</button>
    <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Odustani</button>
</section>