.create-form-wrapper {
    display: flex;
}

.create-form-container {
    margin-right: 30px;
    width: 400px;
    padding: 25px;
    border-radius: 2px;
    margin-top: 20px;
    background: $primary-color;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .form-label {
        color: white;
        font-weight: 300;
    }

    &.create-form-container-larger {
        width: 550px;
    }
}

.checklist-container {
    background: white;
    padding: 10px;
    height: 130px;
    overflow: auto;
}