<ion-view view-title="{{user.name}}">
  <ion-content class="padding user-details">
    <div class="clearfix">
      <img ng-src="{{chat.face}}" class="user-img" ng-class=" u.currentAvailability ? 'green' : 'red'">
      <div class="user-name">
        {{user.name}}
      </div>
    </div>
    <a class="user-contact" href="tel:{{user.phone}}"><i class="icon ion-android-call"></i>{{user.phone}}</a>
    <h2 class="user-subtitle">Osobni podaci</h2>
        <div class="user-row">
      <div class="user-row-title">Lokacija</div>
      <div class="user-row-info">{{user.location}}</div>
    </div>
    <div class="user-row">
      <div class="user-row-title">Posao</div>
      <div class="user-row-info">Rad u skladištu</div>
    </div>
    <div class="user-row">
      <div class="user-row-title">Dostupnost</div>
      <div class="user-row-info">Iza 2 poslijepodne</div>
    </div>

    <h2 class="user-subtitle">Uloga u udruzi</h2>
    <div class="user-row">
      <div class="user-row-title">Stanica</div>
      <div class="user-row-info">HGSS {{user.station}}</div>
    </div>
    <div class="user-row">
      <div class="user-row-title">Tip člana</div>
      <div class="user-row-info">Gorski spašavatelj</div>
    </div>
    <div class="user-row">
      <div class="user-row-title">Grupe</div>
      <div class="user-row-info">Alpinist, Speleolog</div>
    </div>
    <div class="user-row">
      <div class="user-row-title">Položeni tečajevi</div>
      <div class="user-row-info">Prva pomoć, ronjenje u stijeni</div>
    </div>


  </ion-content>
</ion-view>
