<ion-view view-title="Prijava">
<ion-content class="login">
<div class="login-page">
    <form class="login-container" ng-submit="login()">
        <img class="login-logo" src="img/logo.svg">
        <div class="form-container">
            <label class="form-label">Broj mobitela</label>
            <input class="form-input" type="text" name="phone" ng-model="user.phone" placeholder="Unesi broj mobitela">
        </div>
        <button type="submit" class="login-btn">Prijavi se</button>
    </form>
</div>  
</ion-content>
</ion-view>
