<ion-view view-title="Postavke">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.availability" ng-change="setAvailability(settings.availability)">
        <div class="profile-switch"><div>Dostupan</div>
            <small>Isključite ako znate da nećete biti u nikakvoj mogućnosti sudjelovati u akcijama</small>
        </div>
    </ion-toggle>
    </ion-list>
    <div class="logout-button">
        <button ng-click="logout()">Odjavi se</button>
    </div>
  </ion-content>
</ion-view>
