@mixin reset-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin reset-button {
    margin: 0;
    padding: 0;
    box-shadow: 0;
    border: 0;
    background-color: transparent;
}

@mixin reset-link {
    color: inherit;
    text-decoration: none;

    &:focus,
    &:active,
    &:visited {
        color: inherit;
    }
}

@mixin button-variant($background, $color, $border, $background-hover, $color-hover, $border-hover) {
    background-color: $background;
    color: $color;
    border-color: $border;

    &:hover,
    &:focus {
        background-color: $background-hover;
        color: $color-hover;
        border-color: $border-hover;
    }
}

@mixin clearfix() {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}