$primary-color: #0478af;

$font: 'Lato', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

$gray-dark: #212121;
$gray: #424242;
$gray-semi-light: #BDBDBD;
$gray-light: #F5F5F5;

$border-color: $gray-semi-light;